{% extends 'base.html.twig' %}

{% block title %}Edit Entity{% endblock %}

{% block body %}
    <h1>Edit Entity</h1>

    {{ include('quatrieme/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_quatrieme_index') }}">back to list</a>

    {{ include('quatrieme/_delete_form.html.twig') }}
{% endblock %}
